# ENV (never commit)
.env
.env.local
.env.*.local

# Node / Next
node_modules/
.next/
out/
*.log
package-lock.json

# Android build artifacts
android/.gradle/
android/app/build/
android/app/src/main/assets/
android/local.properties
android/capacitor-cordova-android-plugins/

# Android / signing / secrets (NEVER commit)
**/*.keystore
**/*.jks
**/*.p12
**/*.pem
**/keystore.properties
**/upload-key.zip
**/pepk.jar
**/encryption_public_key.pem
**/upload_certificate.pem

# Misc
.DS_Store
.next.config.js.save
next.config.js.save
